name: Android Build & Test

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Detekt Verification
        run: ./gradlew detektAll

      - name: Upload SARIF to GitHub using the upload-sarif action
        uses: github/codeql-action/upload-sarif@v3
        if: success() || failure()
        with:
          sarif_file: build/reports/detekt/detekt.sarif
          category: lint

      - name: Build Project
        run: ./gradlew assemble
